node_modules
.git
*.db*
.env*
.svelte-kit
build
docs
**/tests
**/key.properties
**/local.properties
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
**/firebase-service-account*.json
**/*firebase-adminsdk*.json
**/google-services.json
**/*.aab
**/*.apk
dist
**/build
**/build-mobile
**/.gradle
